*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#f8f4eb;
    font-family:"Cormorant Garamond", serif;
    overflow:hidden;
    overflow-x:hidden;
}

/* شاشة البداية */

.welcome{

    width:100%;
    height:100vh;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    text-align:center;

    cursor:pointer;

    transition:1s ease;

    position:fixed;
    inset:0;
    z-index:9999;

}

/* لوجو شاشة البداية */

.welcome-logo{

    width:280px;
    height:280px;

    object-fit:contain;

    background:#fff;

    padding:25px;

    border:1px solid #d8c08a;

    box-shadow:
        0 12px 30px rgba(0,0,0,.08),
        0 0 0 8px #f8f4eb,
        0 0 0 10px #d8c08a;

    margin:60px 0;

    animation:pulse 3s infinite;

    transition:1s;

}

.title{

    font-size:clamp(26px,4vw,42px);

    color:#555;

    text-align:center;

    letter-spacing:10px;

    line-height:1.8;

    transition:1s;

}

.tap{

    color:#caa24f;

    font-size:clamp(18px,3vw,28px);

    font-style:italic;

    letter-spacing:2px;

    transition:1s;

}

.welcome *{

    transition:1s ease;

}

/* حركة فتح الدعوة */

.open{

    opacity:0;
    background:#fff;

}

.open .welcome-logo{

    transform:scale(3);

    opacity:0;

    filter:blur(8px);

}

.open .title{

    opacity:0;

    transform:translateY(-50px);

}

.open .tap{

    opacity:0;

    transform:translateY(40px);

}

/* نبض اللوجو */

@keyframes pulse{

    0%{

        transform:scale(1);

    }

    50%{

        transform:scale(1.04);

    }

    100%{

        transform:scale(1);

    }

}

/* موبايل */

@media(max-width:768px){

.title{

    font-size:28px;

    letter-spacing:4px;

    padding:0 20px;

}

.welcome-logo{

    width:180px;

    height:180px;

    margin:45px 0;

    padding:18px;

}

.tap{

    font-size:20px;

}

}